<div class="new-post-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">New Post</h2>
    </div>

    <%= render(partial: "_form.ecr") %>
</div>
