<%- if (current_user = context.current_user) %>
  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/signout">Sign Out</a>
  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/profile"><%= current_user.email %></a>
<%- else %>
  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/signup">Sign Up</a>
  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/signin">Sign In</a>
<%- end %>
