.login-card {
    max-width: 70%;
}

.login-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../images/transparent.jpg') center / cover;
}
.login-card-wide > .mdl-card__menu {
    color: #fff;
}
