body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

body, html {
    background: url('../images/transparent.jpg') center / cover ;
}

.blog-layout .mdl-layout__header,
.blog-layout .mdl-layout__drawer-button,  .mdl-layout__header a {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #000;
  text-decoration: none;
  
}
.mdl-layout__drawer-button {
  background: none !important;
}


.mdl-layout__header {
  background: rgba(255, 255, 255, .5);
}
.mdl-navigation .mdl-button {
  margin-right: 1rem;
}

.content-card {
  max-width: 90%;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

@import "posts.scss";

@import "show.scss";

@import "login.scss";

@import "registration.scss";

@import "profile.scss";

@import "new-post.scss";

@import "edit.scss";