.profile-card-wide {
    max-width:80%;
    margin: 0 auto;
}

.profile-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../images/transparent.jpg') center / cover;
}
.profile-card-wide > .mdl-card__menu {
    color: #fff;
}

.profile-card {
    margin-top: 30px;
}