.show-card-wide.mdl-card {
    width: 800px;
    margin: 0 auto;
  }

.show-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../images/transparent.jpg') center / cover;
}
.show-card-wide > .mdl-card__menu {
    color: #fff;
}

.show-card-wide .content p {
    font-size: 16px;
    font-weight: 28px;
}
